In [1]:
import pandas as pd
import numpy as np
from scipy.stats import t
from scipy.stats import norm
import seaborn as sns
import matplotlib.pyplot as plt
import os
import datetime as dt
from datetime import datetime
%matplotlib inline
%config InlineBackend.figure_format = 'png'

In [2]:
os.listdir()

['.git',
 '.gitignore',
 '.ipynb_checkpoints',
 'Analysis_Cleaning_Sharing_Bike.ipynb',
 'Data',
 'london_merged_v1.csv',
 'README.md']

### Overview of the DataSet

In [3]:
os.getcwd()

'D:\\Repositories\\london_bike_sharing'

In [4]:
df = pd.read_csv('.\data/london_merged.csv')

In [5]:
df

,timestamp,cnt,t1,t2,hum,wind_speed,weather_code,is_holiday,is_weekend,season
0,2015-01-04 00:00:00,182,3.0,2.0,93.0,6.0,3.0,0.0,1.0,3.0
1,2015-01-04 01:00:00,138,3.0,2.5,93.0,5.0,1.0,0.0,1.0,3.0
2,2015-01-04 02:00:00,134,2.5,2.5,96.5,0.0,1.0,0.0,1.0,3.0
3,2015-01-04 03:00:00,72,2.0,2.0,100.0,0.0,1.0,0.0,1.0,3.0
4,2015-01-04 04:00:00,47,2.0,0.0,93.0,6.5,1.0,0.0,1.0,3.0
...,...,...,...,...,...,...,...,...,...,...
17409,2017-01-03 19:00:00,1042,5.0,1.0,81.0,19.0,3.0,0.0,0.0,3.0
17410,2017-01-03 20:00:00,541,5.0,1.0,81.0,21.0,4.0,0.0,0.0,3.0
17411,2017-01-03 21:00:00,337,5.5,1.5,78.5,24.0,4.0,0.0,0.0,3.0
17412,2017-01-03 22:00:00,224,5.5,1.5,76.0,23.0,4.0,0.0,0.0,3.0
17413,2017-01-03 23:00:00,139,5.0,1.0,76.0,22.0,2.0,0.0,0.0,3.0

In [6]:
df.head()

,timestamp,cnt,t1,t2,hum,wind_speed,weather_code,is_holiday,is_weekend,season
0,2015-01-04 00:00:00,182,3.0,2.0,93.0,6.0,3.0,0.0,1.0,3.0
1,2015-01-04 01:00:00,138,3.0,2.5,93.0,5.0,1.0,0.0,1.0,3.0
2,2015-01-04 02:00:00,134,2.5,2.5,96.5,0.0,1.0,0.0,1.0,3.0
3,2015-01-04 03:00:00,72,2.0,2.0,100.0,0.0,1.0,0.0,1.0,3.0
4,2015-01-04 04:00:00,47,2.0,0.0,93.0,6.5,1.0,0.0,1.0,3.0

In [7]:
df.columns

Index(['timestamp', 'cnt', 't1', 't2', 'hum', 'wind_speed', 'weather_code',
       'is_holiday', 'is_weekend', 'season'],
      dtype='object')

### Renaming Columns

In [8]:
df.columns = ['timestamp', 'number', 'temperature', 'temperature_feels', 'hum', 'wind_speed', 'weather_code',
       'is_holiday', 'is_weekend', 'season']

In [9]:
df.columns

Index(['timestamp', 'number', 'temperature', 'temperature_feels', 'hum',
       'wind_speed', 'weather_code', 'is_holiday', 'is_weekend', 'season'],
      dtype='object')

In [10]:
pd.to_datetime(df['timestamp'])

0       2015-01-04 00:00:00
1       2015-01-04 01:00:00
2       2015-01-04 02:00:00
3       2015-01-04 03:00:00
4       2015-01-04 04:00:00
                ...
17409   2017-01-03 19:00:00
17410   2017-01-03 20:00:00
17411   2017-01-03 21:00:00
17412   2017-01-03 22:00:00
17413   2017-01-03 23:00:00
Name: timestamp, Length: 17414, dtype: datetime64[ns]

### Converting to Datetime the dates

In [11]:
df['timestamp'] = pd.to_datetime(df['timestamp'])

### Adding Year, Month, Day, to the dataset

In [12]:
df['month'] = df.timestamp.apply(lambda x : x.strftime('%m'))

In [13]:
df.columns

Index(['timestamp', 'number', 'temperature', 'temperature_feels', 'hum',
       'wind_speed', 'weather_code', 'is_holiday', 'is_weekend', 'season',
       'month'],
      dtype='object')

In [14]:
column_names = ['timestamp', 'month', 'number', 'temperature', 'temperature_feels',
       'hum', 'wind_speed', 'weather_code', 'is_holiday', 'is_weekend',
       'season']

* Reorganizing the columns

In [15]:
df = df.reindex(columns=column_names)

* Year, Days, Day_name, Week number

In [16]:
df['year'] = df.timestamp.apply(lambda x : x.strftime('20%y'))

In [17]:
df['day'] = df.timestamp.apply(lambda x : x.strftime('%d'))

In [18]:
column_names = ['timestamp', 'year', 'month', 'day', 'number', 'temperature', 'temperature_feels',
       'hum', 'wind_speed', 'weather_code', 'is_holiday', 'is_weekend',
       'season']

In [19]:
df = df.reindex(columns=column_names)

In [20]:
df['day_name'] = df['timestamp'].dt.day_name()

In [21]:
df['week_number'] = df.timestamp.apply(lambda x : x.strftime('%U'))

In [22]:
df['time'] = df.timestamp.apply(lambda x : x.strftime('%H:%M'))

In [23]:
df['date'] = df.timestamp.apply(lambda x : x.strftime('%y-%m-%d'))

* Reorganizing the columns again

In [24]:
df.columns

Index(['timestamp', 'year', 'month', 'day', 'number', 'temperature',
       'temperature_feels', 'hum', 'wind_speed', 'weather_code', 'is_holiday',
       'is_weekend', 'season', 'day_name', 'week_number', 'time', 'date'],
      dtype='object')

In [25]:
column_names = ['timestamp','date', 'year', 'month', 'day', 'day_name', 'week_number', 'time', 'number', 'temperature',
       'temperature_feels', 'hum', 'wind_speed', 'weather_code', 'is_holiday',
       'is_weekend', 'season']

In [26]:
df = df.reindex(columns=column_names)

In [27]:
df

,timestamp,date,year,month,day,day_name,week_number,time,number,temperature,temperature_feels,hum,wind_speed,weather_code,is_holiday,is_weekend,season
0,2015-01-04 00:00:00,15-01-04,2015,01,04,Sunday,01,00:00,182,3.0,2.0,93.0,6.0,3.0,0.0,1.0,3.0
1,2015-01-04 01:00:00,15-01-04,2015,01,04,Sunday,01,01:00,138,3.0,2.5,93.0,5.0,1.0,0.0,1.0,3.0
2,2015-01-04 02:00:00,15-01-04,2015,01,04,Sunday,01,02:00,134,2.5,2.5,96.5,0.0,1.0,0.0,1.0,3.0
3,2015-01-04 03:00:00,15-01-04,2015,01,04,Sunday,01,03:00,72,2.0,2.0,100.0,0.0,1.0,0.0,1.0,3.0
4,2015-01-04 04:00:00,15-01-04,2015,01,04,Sunday,01,04:00,47,2.0,0.0,93.0,6.5,1.0,0.0,1.0,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17409,2017-01-03 19:00:00,17-01-03,2017,01,03,Tuesday,01,19:00,1042,5.0,1.0,81.0,19.0,3.0,0.0,0.0,3.0
17410,2017-01-03 20:00:00,17-01-03,2017,01,03,Tuesday,01,20:00,541,5.0,1.0,81.0,21.0,4.0,0.0,0.0,3.0
17411,2017-01-03 21:00:00,17-01-03,2017,01,03,Tuesday,01,21:00,337,5.5,1.5,78.5,24.0,4.0,0.0,0.0,3.0
17412,2017-01-03 22:00:00,17-01-03,2017,01,03,Tuesday,01,22:00,224,5.5,1.5,76.0,23.0,4.0,0.0,0.0,3.0
17413,2017-01-03 23:00:00,17-01-03,2017,01,03,Tuesday,01,23:00,139,5.0,1.0,76.0,22.0,2.0,0.0,0.0,3.0

In [28]:
df

,timestamp,date,year,month,day,day_name,week_number,time,number,temperature,temperature_feels,hum,wind_speed,weather_code,is_holiday,is_weekend,season
0,2015-01-04 00:00:00,15-01-04,2015,01,04,Sunday,01,00:00,182,3.0,2.0,93.0,6.0,3.0,0.0,1.0,3.0
1,2015-01-04 01:00:00,15-01-04,2015,01,04,Sunday,01,01:00,138,3.0,2.5,93.0,5.0,1.0,0.0,1.0,3.0
2,2015-01-04 02:00:00,15-01-04,2015,01,04,Sunday,01,02:00,134,2.5,2.5,96.5,0.0,1.0,0.0,1.0,3.0
3,2015-01-04 03:00:00,15-01-04,2015,01,04,Sunday,01,03:00,72,2.0,2.0,100.0,0.0,1.0,0.0,1.0,3.0
4,2015-01-04 04:00:00,15-01-04,2015,01,04,Sunday,01,04:00,47,2.0,0.0,93.0,6.5,1.0,0.0,1.0,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17409,2017-01-03 19:00:00,17-01-03,2017,01,03,Tuesday,01,19:00,1042,5.0,1.0,81.0,19.0,3.0,0.0,0.0,3.0
17410,2017-01-03 20:00:00,17-01-03,2017,01,03,Tuesday,01,20:00,541,5.0,1.0,81.0,21.0,4.0,0.0,0.0,3.0
17411,2017-01-03 21:00:00,17-01-03,2017,01,03,Tuesday,01,21:00,337,5.5,1.5,78.5,24.0,4.0,0.0,0.0,3.0
17412,2017-01-03 22:00:00,17-01-03,2017,01,03,Tuesday,01,22:00,224,5.5,1.5,76.0,23.0,4.0,0.0,0.0,3.0
17413,2017-01-03 23:00:00,17-01-03,2017,01,03,Tuesday,01,23:00,139,5.0,1.0,76.0,22.0,2.0,0.0,0.0,3.0

* Changing number of month to name of the month

In [29]:
df['month'] = pd.to_datetime(df['month'], format='%m').dt.month_name().str.slice(stop=3)

In [33]:
df.columns

Index(['timestamp', 'date', 'year', 'month', 'day', 'day_name', 'week_number',
       'time', 'number', 'temperature', 'temperature_feels', 'hum',
       'wind_speed', 'weather_code', 'is_holiday', 'is_weekend', 'season'],
      dtype='object')

In [34]:
df.columns = ['timestamp', 'date', 'year', 'month', 'day', 'day_name', 'week_number',
       'time', 'bike_number', 'temperature', 'temperature_feels', 'hum',
       'wind_speed', 'weather_code', 'is_holiday', 'is_weekend', 'season']

In [35]:
df.to_csv('london_merged_v1.csv')

In [ ]:
Null Value

### Saving the updates and cleanning in a new Data Set

In [36]:
df = pd.read_csv('london_merged_v1.csv')

In [37]:
df = df.reset_index()

In [38]:
df.drop('Unnamed: 0', axis=1, inplace=True)

In [39]:
df.to_csv('london_merged_v1.csv', index=False)

In [40]:
df = pd.read_csv('london_merged_v1.csv')

In [41]:
df.sample(50)

,index,timestamp,date,year,month,day,day_name,week_number,time,bike_number,temperature,temperature_feels,hum,wind_speed,weather_code,is_holiday,is_weekend,season
2510,2510,2015-04-18 22:00:00,15-04-18,2015,Apr,18,Saturday,15,22:00,550,8.5,5.5,68.5,16.0,1.0,0.0,1.0,0.0
6424,6424,2015-09-29 16:00:00,15-09-29,2015,Sep,29,Tuesday,39,16:00,2173,17.0,17.0,54.0,24.0,1.0,0.0,0.0,2.0
13452,13452,2016-07-21 00:00:00,16-07-21,2016,Jul,21,Thursday,29,00:00,385,19.5,19.5,66.5,20.5,1.0,0.0,0.0,1.0
16121,16121,2016-11-11 02:00:00,16-11-11,2016,Nov,11,Friday,45,02:00,79,6.0,3.0,81.0,15.0,2.0,0.0,0.0,2.0
6708,6708,2015-10-11 13:00:00,15-10-11,2015,Oct,11,Sunday,41,13:00,2770,14.0,14.0,59.0,21.0,2.0,0.0,1.0,2.0
6978,6978,2015-10-23 01:00:00,15-10-23,2015,Oct,23,Friday,42,01:00,219,12.0,12.0,69.5,2.0,4.0,0.0,0.0,2.0
5960,5960,2015-09-09 23:00:00,15-09-09,2015,Sep,9,Wednesday,36,23:00,451,14.0,14.0,88.0,6.0,1.0,0.0,0.0,2.0
12358,12358,2016-06-04 19:00:00,16-06-04,2016,Jun,4,Saturday,22,19:00,1923,19.0,19.0,78.0,10.0,4.0,0.0,1.0,1.0
2490,2490,2015-04-18 02:00:00,15-04-18,2015,Apr,18,Saturday,15,02:00,193,7.0,4.0,73.5,18.0,3.0,0.0,1.0,0.0
4218,4218,2015-06-29 05:00:00,15-06-29,2015,Jun,29,Monday,26,05:00,154,15.0,15.0,77.0,12.0,1.0,0.0,0.0,1.0
5289,5289,2015-08-13 00:00:00,15-08-13,2015,Aug,13,Thursday,32,00:00,114,17.0,17.0,77.0,16.0,4.0,0.0,0.0,1.0
7713,7713,2015-11-23 01:00:00,15-11-23,2015,Nov,23,Monday,47,01:00,48,2.0,-0.5,90.0,7.5,1.0,0.0,0.0,2.0
10175,10175,2016-03-05 04:00:00,16-03-05,2016,Mar,5,Saturday,9,04:00,71,1.0,-1.0,87.0,6.5,1.0,0.0,1.0,0.0
13972,13972,2016-08-11 20:00:00,16-08-11,2016,Aug,11,Thursday,32,20:00,1735,21.0,21.0,64.0,20.0,1.0,0.0,0.0,1.0
3196,3196,2015-05-17 12:00:00,15-05-17,2015,May,17,Sunday,20,12:00,2806,16.5,16.5,42.0,21.5,2.0,0.0,1.0,0.0
7786,7786,2015-11-26 02:00:00,15-11-26,2015,Nov,26,Thursday,47,02:00,61,7.5,6.5,90.0,6.5,1.0,0.0,0.0,2.0
16602,16602,2016-12-01 04:00:00,16-12-01,2016,Dec,1,Thursday,48,04:00,30,2.0,-2.0,58.0,16.0,1.0,0.0,0.0,3.0
4639,4639,2015-07-16 19:00:00,15-07-16,2015,Jul,16,Thursday,28,19:00,2654,20.5,20.5,62.0,27.0,1.0,0.0,0.0,1.0
1039,1039,2015-02-16 09:00:00,15-02-16,2015,Feb,16,Monday,7,09:00,1637,6.5,4.5,93.0,8.0,3.0,0.0,0.0,3.0
16257,16257,2016-11-16 19:00:00,16-11-16,2016,Nov,16,Wednesday,46,19:00,1235,11.0,11.0,88.0,16.0,7.0,0.0,0.0,2.0
13940,13940,2016-08-10 12:00:00,16-08-10,2016,Aug,10,Wednesday,32,12:00,1510,17.0,17.0,52.0,15.0,2.0,0.0,0.0,1.0
14272,14272,2016-08-24 11:00:00,16-08-24,2016,Aug,24,Wednesday,34,11:00,1342,28.0,28.0,48.0,5.0,1.0,0.0,0.0,1.0
4277,4277,2015-07-01 16:00:00,15-07-01,2015,Jul,1,Wednesday,26,16:00,2575,33.5,33.5,35.0,21.0,1.0,0.0,0.0,1.0
10380,10380,2016-03-13 17:00:00,16-03-13,2016,Mar,13,Sunday,11,17:00,1754,6.0,2.5,73.5,21.5,1.0,0.0,1.0,0.0
2749,2749,2015-04-28 21:00:00,15-04-28,2015,Apr,28,Tuesday,17,21:00,726,10.0,8.0,58.0,19.0,1.0,0.0,0.0,0.0
720,720,2015-02-03 01:00:00,15-02-03,2015,Feb,3,Tuesday,5,01:00,64,1.0,-2.0,81.0,9.0,4.0,0.0,0.0,3.0
1225,1225,2015-02-24 03:00:00,15-02-24,2015,Feb,24,Tuesday,8,03:00,16,6.0,1.0,76.0,32.0,2.0,0.0,0.0,3.0
6397,6397,2015-09-28 13:00:00,15-09-28,2015,Sep,28,Monday,39,13:00,1446,17.0,17.0,56.0,30.0,1.0,0.0,0.0,2.0
10867,10867,2016-04-03 15:00:00,16-04-03,2016,Apr,3,Sunday,14,15:00,2563,16.0,16.0,53.5,13.0,1.0,0.0,1.0,0.0
11924,11924,2016-05-17 17:00:00,16-05-17,2016,May,17,Tuesday,20,17:00,4203,17.0,17.0,54.0,20.0,2.0,0.0,0.0,0.0
10746,10746,2016-03-29 14:00:00,16-03-29,2016,Mar,29,Tuesday,13,14:00,973,12.5,12.5,39.5,27.0,1.0,0.0,0.0,0.0
7160,7160,2015-10-30 16:00:00,15-10-30,2015,Oct,30,Friday,43,16:00,1825,15.0,15.0,72.0,10.0,7.0,0.0,0.0,2.0
6932,6932,2015-10-21 03:00:00,15-10-21,2015,Oct,21,Wednesday,42,03:00,33,10.0,8.0,88.0,14.0,1.0,0.0,0.0,2.0
14157,14157,2016-08-19 16:00:00,16-08-19,2016,Aug,19,Friday,33,16:00,1350,17.0,17.0,85.5,18.5,7.0,0.0,0.0,1.0
14494,14494,2016-09-04 06:00:00,16-09-04,2016,Sep,4,Sunday,36,06:00,109,17.0,17.0,68.0,26.0,3.0,0.0,1.0,2.0
10431,10431,2016-03-15 20:00:00,16-03-15,2016,Mar,15,Tuesday,11,20:00,875,7.0,4.0,87.0,19.0,3.0,0.0,0.0,0.0
7780,7780,2015-11-25 20:00:00,15-11-25,2015,Nov,25,Wednesday,47,20:00,1032,8.0,6.5,82.0,7.5,2.0,0.0,0.0,2.0
2964,2964,2015-05-07 20:00:00,15-05-07,2015,May,7,Thursday,18,20:00,1277,13.0,13.0,55.0,17.5,1.0,0.0,0.0,0.0
13356,13356,2016-07-17 00:00:00,16-07-17,2016,Jul,17,Sunday,29,00:00,857,20.0,20.0,78.0,18.0,2.0,0.0,1.0,1.0
9789,9789,2016-02-18 01:00:00,16-02-18,2016,Feb,18,Thursday,7,01:00,59,5.0,1.5,87.0,16.0,7.0,0.0,0.0,3.0
9901,9901,2016-02-22 18:00:00,16-02-22,2016,Feb,22,Monday,8,18:00,2512,8.0,5.5,53.0,14.0,2.0,0.0,0.0,3.0
12869,12869,2016-06-26 17:00:00,16-06-26,2016,Jun,26,Sunday,26,17:00,2608,19.5,19.5,56.0,28.0,2.0,0.0,1.0,1.0
9324,9324,2016-01-29 09:00:00,16-01-29,2016,Jan,29,Friday,4,09:00,1792,11.5,11.5,77.0,36.0,3.0,0.0,0.0,3.0
730,730,2015-02-03 11:00:00,15-02-03,2015,Feb,3,Tuesday,5,11:00,575,2.5,-1.0,87.0,13.0,3.0,0.0,0.0,3.0
13466,13466,2016-07-21 14:00:00,16-07-21,2016,Jul,21,Thursday,29,14:00,1768,24.5,24.5,43.0,6.5,2.0,0.0,0.0,1.0
14430,14430,2016-08-31 01:00:00,16-08-31,2016,Aug,31,Wednesday,35,01:00,221,17.5,17.5,70.5,6.5,1.0,0.0,0.0,1.0
4592,4592,2015-07-14 20:00:00,15-07-14,2015,Jul,14,Tuesday,28,20:00,1125,19.0,19.0,91.0,11.0,7.0,0.0,0.0,1.0
15938,15938,2016-11-03 11:00:00,16-11-03,2016,Nov,3,Thursday,44,11:00,1056,10.0,8.0,58.0,14.0,1.0,0.0,0.0,2.0
8163,8163,2015-12-11 20:00:00,15-12-11,2015,Dec,11,Friday,49,20:00,737,8.5,5.5,73.5,17.0,1.0,0.0,0.0,3.0
6301,6301,2015-09-24 13:00:00,15-09-24,2015,Sep,24,Thursday,38,13:00,1507,17.5,17.5,54.0,24.0,2.0,0.0,0.0,2.0

### Null Values

In [ ]:
df.isna().sum()