In [1]:
import pandas as pd
import numpy as np
from scipy.stats import t
from scipy.stats import norm
import seaborn as sns
import matplotlib.pyplot as plt
import os
import datetime as dt
from datetime import datetime
%matplotlib inline
%config InlineBackend.figure_format = 'png'

In [2]:
os.listdir()

['.git',
 '.gitignore',
 '.ipynb_checkpoints',
 'Analysis_Cleaning_Sharing_Bike.ipynb',
 'Data',
 'london_merged_v1.csv',
 'README.md']

### Overview of the DataSet

In [3]:
os.getcwd()

'D:\\Repositories\\london_bike_sharing'

In [4]:
df = pd.read_csv('.\data/london_merged.csv')

In [5]:
df

,timestamp,cnt,t1,t2,hum,wind_speed,weather_code,is_holiday,is_weekend,season
0,2015-01-04 00:00:00,182,3.0,2.0,93.0,6.0,3.0,0.0,1.0,3.0
1,2015-01-04 01:00:00,138,3.0,2.5,93.0,5.0,1.0,0.0,1.0,3.0
2,2015-01-04 02:00:00,134,2.5,2.5,96.5,0.0,1.0,0.0,1.0,3.0
3,2015-01-04 03:00:00,72,2.0,2.0,100.0,0.0,1.0,0.0,1.0,3.0
4,2015-01-04 04:00:00,47,2.0,0.0,93.0,6.5,1.0,0.0,1.0,3.0
...,...,...,...,...,...,...,...,...,...,...
17409,2017-01-03 19:00:00,1042,5.0,1.0,81.0,19.0,3.0,0.0,0.0,3.0
17410,2017-01-03 20:00:00,541,5.0,1.0,81.0,21.0,4.0,0.0,0.0,3.0
17411,2017-01-03 21:00:00,337,5.5,1.5,78.5,24.0,4.0,0.0,0.0,3.0
17412,2017-01-03 22:00:00,224,5.5,1.5,76.0,23.0,4.0,0.0,0.0,3.0
17413,2017-01-03 23:00:00,139,5.0,1.0,76.0,22.0,2.0,0.0,0.0,3.0

In [6]:
df.head()

,timestamp,cnt,t1,t2,hum,wind_speed,weather_code,is_holiday,is_weekend,season
0,2015-01-04 00:00:00,182,3.0,2.0,93.0,6.0,3.0,0.0,1.0,3.0
1,2015-01-04 01:00:00,138,3.0,2.5,93.0,5.0,1.0,0.0,1.0,3.0
2,2015-01-04 02:00:00,134,2.5,2.5,96.5,0.0,1.0,0.0,1.0,3.0
3,2015-01-04 03:00:00,72,2.0,2.0,100.0,0.0,1.0,0.0,1.0,3.0
4,2015-01-04 04:00:00,47,2.0,0.0,93.0,6.5,1.0,0.0,1.0,3.0

In [7]:
df.columns

Index(['timestamp', 'cnt', 't1', 't2', 'hum', 'wind_speed', 'weather_code',
       'is_holiday', 'is_weekend', 'season'],
      dtype='object')

### Renaming Columns

In [8]:
df.columns = ['timestamp', 'number', 'temperature', 'temperature_feels', 'hum', 'wind_speed', 'weather_code',
       'is_holiday', 'is_weekend', 'season']

In [9]:
df.columns

Index(['timestamp', 'number', 'temperature', 'temperature_feels', 'hum',
       'wind_speed', 'weather_code', 'is_holiday', 'is_weekend', 'season'],
      dtype='object')

In [10]:
pd.to_datetime(df['timestamp'])

0       2015-01-04 00:00:00
1       2015-01-04 01:00:00
2       2015-01-04 02:00:00
3       2015-01-04 03:00:00
4       2015-01-04 04:00:00
                ...
17409   2017-01-03 19:00:00
17410   2017-01-03 20:00:00
17411   2017-01-03 21:00:00
17412   2017-01-03 22:00:00
17413   2017-01-03 23:00:00
Name: timestamp, Length: 17414, dtype: datetime64[ns]

### Converting to Datetime the dates

In [11]:
df['timestamp'] = pd.to_datetime(df['timestamp'])

### Adding Year, Month, Day, to the dataset

In [12]:
df['month'] = df.timestamp.apply(lambda x : x.strftime('%m'))

In [13]:
df.columns

Index(['timestamp', 'number', 'temperature', 'temperature_feels', 'hum',
       'wind_speed', 'weather_code', 'is_holiday', 'is_weekend', 'season',
       'month'],
      dtype='object')

In [14]:
column_names = ['timestamp', 'month', 'number', 'temperature', 'temperature_feels',
       'hum', 'wind_speed', 'weather_code', 'is_holiday', 'is_weekend',
       'season']

* Reorganizing the columns

In [15]:
df = df.reindex(columns=column_names)

* Year, Days, Day_name, Week number

In [16]:
df['year'] = df.timestamp.apply(lambda x : x.strftime('20%y'))

In [17]:
df['day'] = df.timestamp.apply(lambda x : x.strftime('%d'))

In [18]:
column_names = ['timestamp', 'year', 'month', 'day', 'number', 'temperature', 'temperature_feels',
       'hum', 'wind_speed', 'weather_code', 'is_holiday', 'is_weekend',
       'season']

In [19]:
df = df.reindex(columns=column_names)

In [20]:
df['day_name'] = df['timestamp'].dt.day_name()

In [21]:
df['week_number'] = df.timestamp.apply(lambda x : x.strftime('%U'))

In [22]:
df['time'] = df.timestamp.apply(lambda x : x.strftime('%H:%M'))

In [23]:
df['date'] = df.timestamp.apply(lambda x : x.strftime('%y-%m-%d'))

* Reorganizing the columns again

In [24]:
df.columns

Index(['timestamp', 'year', 'month', 'day', 'number', 'temperature',
       'temperature_feels', 'hum', 'wind_speed', 'weather_code', 'is_holiday',
       'is_weekend', 'season', 'day_name', 'week_number', 'time', 'date'],
      dtype='object')

In [25]:
column_names = ['timestamp','date', 'year', 'month', 'day', 'day_name', 'week_number', 'time', 'number', 'temperature',
       'temperature_feels', 'hum', 'wind_speed', 'weather_code', 'is_holiday',
       'is_weekend', 'season']

In [26]:
df = df.reindex(columns=column_names)

In [27]:
df

,timestamp,date,year,month,day,day_name,week_number,time,number,temperature,temperature_feels,hum,wind_speed,weather_code,is_holiday,is_weekend,season
0,2015-01-04 00:00:00,15-01-04,2015,01,04,Sunday,01,00:00,182,3.0,2.0,93.0,6.0,3.0,0.0,1.0,3.0
1,2015-01-04 01:00:00,15-01-04,2015,01,04,Sunday,01,01:00,138,3.0,2.5,93.0,5.0,1.0,0.0,1.0,3.0
2,2015-01-04 02:00:00,15-01-04,2015,01,04,Sunday,01,02:00,134,2.5,2.5,96.5,0.0,1.0,0.0,1.0,3.0
3,2015-01-04 03:00:00,15-01-04,2015,01,04,Sunday,01,03:00,72,2.0,2.0,100.0,0.0,1.0,0.0,1.0,3.0
4,2015-01-04 04:00:00,15-01-04,2015,01,04,Sunday,01,04:00,47,2.0,0.0,93.0,6.5,1.0,0.0,1.0,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17409,2017-01-03 19:00:00,17-01-03,2017,01,03,Tuesday,01,19:00,1042,5.0,1.0,81.0,19.0,3.0,0.0,0.0,3.0
17410,2017-01-03 20:00:00,17-01-03,2017,01,03,Tuesday,01,20:00,541,5.0,1.0,81.0,21.0,4.0,0.0,0.0,3.0
17411,2017-01-03 21:00:00,17-01-03,2017,01,03,Tuesday,01,21:00,337,5.5,1.5,78.5,24.0,4.0,0.0,0.0,3.0
17412,2017-01-03 22:00:00,17-01-03,2017,01,03,Tuesday,01,22:00,224,5.5,1.5,76.0,23.0,4.0,0.0,0.0,3.0
17413,2017-01-03 23:00:00,17-01-03,2017,01,03,Tuesday,01,23:00,139,5.0,1.0,76.0,22.0,2.0,0.0,0.0,3.0

In [28]:
df

,timestamp,date,year,month,day,day_name,week_number,time,number,temperature,temperature_feels,hum,wind_speed,weather_code,is_holiday,is_weekend,season
0,2015-01-04 00:00:00,15-01-04,2015,01,04,Sunday,01,00:00,182,3.0,2.0,93.0,6.0,3.0,0.0,1.0,3.0
1,2015-01-04 01:00:00,15-01-04,2015,01,04,Sunday,01,01:00,138,3.0,2.5,93.0,5.0,1.0,0.0,1.0,3.0
2,2015-01-04 02:00:00,15-01-04,2015,01,04,Sunday,01,02:00,134,2.5,2.5,96.5,0.0,1.0,0.0,1.0,3.0
3,2015-01-04 03:00:00,15-01-04,2015,01,04,Sunday,01,03:00,72,2.0,2.0,100.0,0.0,1.0,0.0,1.0,3.0
4,2015-01-04 04:00:00,15-01-04,2015,01,04,Sunday,01,04:00,47,2.0,0.0,93.0,6.5,1.0,0.0,1.0,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17409,2017-01-03 19:00:00,17-01-03,2017,01,03,Tuesday,01,19:00,1042,5.0,1.0,81.0,19.0,3.0,0.0,0.0,3.0
17410,2017-01-03 20:00:00,17-01-03,2017,01,03,Tuesday,01,20:00,541,5.0,1.0,81.0,21.0,4.0,0.0,0.0,3.0
17411,2017-01-03 21:00:00,17-01-03,2017,01,03,Tuesday,01,21:00,337,5.5,1.5,78.5,24.0,4.0,0.0,0.0,3.0
17412,2017-01-03 22:00:00,17-01-03,2017,01,03,Tuesday,01,22:00,224,5.5,1.5,76.0,23.0,4.0,0.0,0.0,3.0
17413,2017-01-03 23:00:00,17-01-03,2017,01,03,Tuesday,01,23:00,139,5.0,1.0,76.0,22.0,2.0,0.0,0.0,3.0

* Changing number of month to name of the month

In [29]:
df['month'] = pd.to_datetime(df['month'], format='%m').dt.month_name().str.slice(stop=3)

In [30]:
df.columns

Index(['timestamp', 'date', 'year', 'month', 'day', 'day_name', 'week_number',
       'time', 'number', 'temperature', 'temperature_feels', 'hum',
       'wind_speed', 'weather_code', 'is_holiday', 'is_weekend', 'season'],
      dtype='object')

In [31]:
df.columns = ['timestamp', 'date', 'year', 'month', 'day', 'day_name', 'week_number',
       'time', 'bike_number', 'temperature', 'temperature_feels', 'hum',
       'wind_speed', 'weather_code', 'is_holiday', 'is_weekend', 'season']

In [32]:
df.to_csv('london_merged_v1.csv')

## Null Values

In [33]:
df.isna().sum()

timestamp            0
date                 0
year                 0
month                0
day                  0
day_name             0
week_number          0
time                 0
bike_number          0
temperature          0
temperature_feels    0
hum                  0
wind_speed           0
weather_code         0
is_holiday           0
is_weekend           0
season               0
dtype: int64

### Saving the updates and cleanning in a new Data Set

In [34]:
df = pd.read_csv('london_merged_v1.csv')

In [35]:
df = df.reset_index()

In [36]:
df.drop('Unnamed: 0', axis=1, inplace=True)

In [37]:
df.to_csv('london_merged_v1.csv', index=False)

In [38]:
df = pd.read_csv('london_merged_v1.csv')

In [39]:
df.sample(50)

,index,timestamp,date,year,month,day,day_name,week_number,time,bike_number,temperature,temperature_feels,hum,wind_speed,weather_code,is_holiday,is_weekend,season
3487,3487,2015-05-29 15:00:00,15-05-29,2015,May,29,Friday,21,15:00,1145,13.5,13.5,69.5,26.0,2.0,0.0,0.0,0.0
11759,11759,2016-05-10 20:00:00,16-05-10,2016,May,10,Tuesday,19,20:00,1184,16.0,16.0,91.0,13.0,3.0,0.0,0.0,0.0
17229,17229,2016-12-27 07:00:00,16-12-27,2016,Dec,27,Tuesday,52,07:00,119,2.5,-1.0,84.0,12.0,1.0,1.0,0.0,3.0
3214,3214,2015-05-18 06:00:00,15-05-18,2015,May,18,Monday,20,06:00,640,10.5,9.5,74.0,16.0,3.0,0.0,0.0,0.0
4328,4328,2015-07-03 19:00:00,15-07-03,2015,Jul,3,Friday,26,19:00,2388,21.0,21.0,66.5,30.5,1.0,0.0,0.0,1.0
12782,12782,2016-06-22 11:00:00,16-06-22,2016,Jun,22,Wednesday,25,11:00,1174,20.0,20.0,78.0,18.0,3.0,0.0,0.0,1.0
4290,4290,2015-07-02 05:00:00,15-07-02,2015,Jul,2,Thursday,26,05:00,158,19.0,19.0,83.0,13.0,2.0,0.0,0.0,1.0
15657,15657,2016-10-22 17:00:00,16-10-22,2016,Oct,22,Saturday,42,17:00,2095,13.0,13.0,65.0,12.0,2.0,0.0,1.0,2.0
11241,11241,2016-04-19 06:00:00,16-04-19,2016,Apr,19,Tuesday,16,06:00,726,10.0,9.0,73.5,7.0,1.0,0.0,0.0,0.0
3241,3241,2015-05-19 09:00:00,15-05-19,2015,May,19,Tuesday,20,09:00,2110,12.0,12.0,56.0,28.0,2.0,0.0,0.0,0.0
17347,17347,2017-01-01 05:00:00,17-01-01,2017,Jan,1,Sunday,1,05:00,149,7.0,4.5,87.0,14.0,7.0,0.0,1.0,3.0
14626,14626,2016-09-09 18:00:00,16-09-09,2016,Sep,9,Friday,36,18:00,3437,21.5,21.5,67.0,20.0,3.0,0.0,0.0,2.0
15066,15066,2016-09-28 02:00:00,16-09-28,2016,Sep,28,Wednesday,39,02:00,73,15.5,15.5,88.0,20.5,2.0,0.0,0.0,2.0
7306,7306,2015-11-05 18:00:00,15-11-05,2015,Nov,5,Thursday,44,18:00,2361,15.0,15.0,88.0,20.0,3.0,0.0,0.0,2.0
2677,2677,2015-04-25 21:00:00,15-04-25,2015,Apr,25,Saturday,16,21:00,485,13.5,13.5,79.5,15.0,7.0,0.0,1.0,0.0
6367,6367,2015-09-27 07:00:00,15-09-27,2015,Sep,27,Sunday,39,07:00,208,11.0,11.0,85.0,4.0,3.0,0.0,1.0,2.0
7068,7068,2015-10-26 20:00:00,15-10-26,2015,Oct,26,Monday,43,20:00,1062,13.0,13.0,88.0,10.0,3.0,0.0,0.0,2.0
10879,10879,2016-04-04 03:00:00,16-04-04,2016,Apr,4,Monday,14,03:00,43,10.0,9.0,88.0,8.0,2.0,0.0,0.0,0.0
10021,10021,2016-02-27 18:00:00,16-02-27,2016,Feb,27,Saturday,8,18:00,682,5.0,1.0,57.0,19.5,4.0,0.0,1.0,3.0
16541,16541,2016-11-28 15:00:00,16-11-28,2016,Nov,28,Monday,48,15:00,1135,8.0,4.5,59.5,26.0,2.0,0.0,0.0,2.0
16540,16540,2016-11-28 14:00:00,16-11-28,2016,Nov,28,Monday,48,14:00,961,8.0,4.0,53.0,29.0,2.0,0.0,0.0,2.0
2636,2636,2015-04-24 04:00:00,15-04-24,2015,Apr,24,Friday,16,04:00,54,8.0,7.0,87.0,6.0,1.0,0.0,0.0,0.0
1921,1921,2015-03-25 03:00:00,15-03-25,2015,Mar,25,Wednesday,12,03:00,34,3.5,1.0,84.0,8.0,1.0,0.0,0.0,0.0
9172,9172,2016-01-23 01:00:00,16-01-23,2016,Jan,23,Saturday,3,01:00,246,8.0,5.0,84.5,21.0,1.0,0.0,1.0,3.0
7239,7239,2015-11-02 23:00:00,15-11-02,2015,Nov,2,Monday,44,23:00,349,10.0,9.0,88.0,8.0,3.0,0.0,0.0,2.0
13565,13565,2016-07-25 17:00:00,16-07-25,2016,Jul,25,Monday,30,17:00,4825,23.0,22.0,41.0,24.0,1.0,0.0,0.0,1.0
10084,10084,2016-03-01 09:00:00,16-03-01,2016,Mar,1,Tuesday,9,09:00,1469,10.0,7.0,88.0,26.0,7.0,0.0,0.0,0.0
9060,9060,2016-01-18 09:00:00,16-01-18,2016,Jan,18,Monday,3,09:00,1821,3.0,-0.5,84.0,14.0,2.0,0.0,0.0,3.0
4946,4946,2015-07-29 17:00:00,15-07-29,2015,Jul,29,Wednesday,30,17:00,4029,19.0,19.0,46.0,19.5,2.0,0.0,0.0,1.0
14259,14259,2016-08-23 22:00:00,16-08-23,2016,Aug,23,Tuesday,34,22:00,1045,22.5,22.5,71.0,11.0,1.0,0.0,0.0,1.0
15144,15144,2016-10-01 08:00:00,16-10-01,2016,Oct,1,Saturday,39,08:00,681,13.0,13.0,88.0,5.0,1.0,0.0,1.0,2.0
564,564,2015-01-27 13:00:00,15-01-27,2015,Jan,27,Tuesday,4,13:00,977,9.0,6.0,66.0,19.5,3.0,0.0,0.0,3.0
10399,10399,2016-03-14 12:00:00,16-03-14,2016,Mar,14,Monday,11,12:00,1043,8.5,4.5,53.5,29.0,1.0,0.0,0.0,0.0
5913,5913,2015-09-08 00:00:00,15-09-08,2015,Sep,8,Tuesday,36,00:00,201,13.0,13.0,77.0,5.0,3.0,0.0,0.0,2.0
2377,2377,2015-04-13 09:00:00,15-04-13,2015,Apr,13,Monday,15,09:00,1799,9.5,8.5,69.0,7.0,3.0,0.0,0.0,0.0
14657,14657,2016-09-11 01:00:00,16-09-11,2016,Sep,11,Sunday,37,01:00,445,15.0,15.0,82.0,11.0,2.0,0.0,1.0,2.0
2814,2814,2015-05-01 14:00:00,15-05-01,2015,May,1,Friday,17,14:00,1515,12.0,12.0,47.0,22.0,2.0,0.0,0.0,0.0
3632,3632,2015-06-04 16:00:00,15-06-04,2015,Jun,4,Thursday,22,16:00,2584,22.0,21.0,37.0,20.0,1.0,0.0,0.0,1.0
5984,5984,2015-09-10 23:00:00,15-09-10,2015,Sep,10,Thursday,36,23:00,514,14.5,14.5,85.0,8.0,1.0,0.0,0.0,2.0
10867,10867,2016-04-03 15:00:00,16-04-03,2016,Apr,3,Sunday,14,15:00,2563,16.0,16.0,53.5,13.0,1.0,0.0,1.0,0.0
9249,9249,2016-01-26 06:00:00,16-01-26,2016,Jan,26,Tuesday,4,06:00,613,8.5,6.0,84.5,16.0,2.0,0.0,0.0,3.0
1147,1147,2015-02-20 21:00:00,15-02-20,2015,Feb,20,Friday,7,21:00,478,5.0,2.5,81.0,10.0,2.0,0.0,0.0,3.0
14837,14837,2016-09-18 13:00:00,16-09-18,2016,Sep,18,Sunday,38,13:00,2549,19.0,19.0,64.0,8.0,3.0,0.0,1.0,2.0
10264,10264,2016-03-08 21:00:00,16-03-08,2016,Mar,8,Tuesday,10,21:00,566,7.0,3.5,93.0,21.0,3.0,0.0,0.0,0.0
7391,7391,2015-11-09 07:00:00,15-11-09,2015,Nov,9,Monday,45,07:00,2147,11.5,11.5,74.5,21.0,1.0,0.0,0.0,2.0
13747,13747,2016-08-02 10:00:00,16-08-02,2016,Aug,2,Tuesday,31,10:00,1017,20.0,20.0,83.0,17.0,3.0,0.0,0.0,1.0
1195,1195,2015-02-22 21:00:00,15-02-22,2015,Feb,22,Sunday,8,21:00,159,9.0,5.0,87.0,29.5,7.0,0.0,1.0,3.0
6933,6933,2015-10-21 04:00:00,15-10-21,2015,Oct,21,Wednesday,42,04:00,37,11.0,11.0,82.0,11.0,7.0,0.0,0.0,2.0
10932,10932,2016-04-06 08:00:00,16-04-06,2016,Apr,6,Wednesday,14,08:00,3221,9.0,6.0,87.0,24.0,7.0,0.0,0.0,0.0
11315,11315,2016-04-22 08:00:00,16-04-22,2016,Apr,22,Friday,16,08:00,3908,9.0,6.0,76.0,19.0,2.0,0.0,0.0,0.0