In [1]:
import pandas as pd
import os
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt
from scipy.stats import norm
from scipy.stats import norm

### Visualisation de la dataset + Ã©tude

In [2]:
os.listdir()
df=pd.read_csv(r'D:\IronHack\Projet-Semaine-5-6\london_bike_sharing\london_merged_v1.csv.csv')

In [45]:
df.head()

,index,timestamp,date,year,month,day,day_name,week_number,time,bike_number,temperature,temperature_feels,hum,wind_speed,weather_code,is_holiday,is_weekend,season
0,0,2015-01-04 00:00:00,2004-01-15,2015,Jan,4,Sunday,1,00:00,182,3.0,2.0,93.0,6.0,Broken clouds,0.0,1.0,3.0
1,1,2015-01-04 01:00:00,2004-01-15,2015,Jan,4,Sunday,1,01:00,138,3.0,2.5,93.0,5.0,Clear,0.0,1.0,3.0
2,2,2015-01-04 02:00:00,2004-01-15,2015,Jan,4,Sunday,1,02:00,134,2.5,2.5,96.5,0.0,Clear,0.0,1.0,3.0
3,3,2015-01-04 03:00:00,2004-01-15,2015,Jan,4,Sunday,1,03:00,72,2.0,2.0,100.0,0.0,Clear,0.0,1.0,3.0
4,4,2015-01-04 04:00:00,2004-01-15,2015,Jan,4,Sunday,1,04:00,47,2.0,0.0,93.0,6.5,Clear,0.0,1.0,3.0

In [43]:
df.dtypes

index                         int64
timestamp                    object
date                 datetime64[ns]
year                          int64
month                        object
day                           int64
day_name                     object
week_number                   int64
time                         object
bike_number                   int64
temperature                 float64
temperature_feels           float64
hum                         float64
wind_speed                  float64
weather_code                 object
is_holiday                  float64
is_weekend                  float64
season                      float64
dtype: object

In [4]:
df.sample(50)

,index,timestamp,date,year,month,day,day_name,week_number,time,bike_number,temperature,temperature_feels,hum,wind_speed,weather_code,is_holiday,is_weekend,season
625,625,2015-01-30 02:00:00,15-01-30,2015,Jan,30,Friday,4,02:00,79,3.0,-1.0,81.0,17.0,7.0,0.0,0.0,3.0
14070,14070,2016-08-15 23:00:00,16-08-15,2016,Aug,15,Monday,33,23:00,405,16.0,16.0,77.0,11.0,1.0,0.0,0.0,1.0
8422,8422,2015-12-22 19:00:00,15-12-22,2015,Dec,22,Tuesday,51,19:00,734,14.0,14.0,85.0,34.0,7.0,0.0,0.0,3.0
3308,3308,2015-05-22 04:00:00,15-05-22,2015,May,22,Friday,20,04:00,68,10.0,8.0,82.0,14.0,1.0,0.0,0.0,0.0
16276,16276,2016-11-17 14:00:00,16-11-17,2016,Nov,17,Thursday,46,14:00,930,13.0,13.0,67.0,37.0,3.0,0.0,0.0,2.0
11313,11313,2016-04-22 06:00:00,16-04-22,2016,Apr,22,Friday,16,06:00,591,8.5,5.5,68.5,16.0,1.0,0.0,0.0,0.0
16774,16774,2016-12-08 08:00:00,16-12-08,2016,Dec,8,Thursday,49,08:00,4236,12.0,12.0,82.0,18.5,1.0,0.0,0.0,3.0
8734,8734,2016-01-04 19:00:00,16-01-04,2016,Jan,4,Monday,1,19:00,1184,9.0,7.0,76.0,12.0,1.0,0.0,0.0,3.0
3568,3568,2015-06-02 00:00:00,15-06-02,2015,Jun,2,Tuesday,22,00:00,153,12.0,12.0,77.0,36.0,7.0,0.0,0.0,1.0
13806,13806,2016-08-04 21:00:00,16-08-04,2016,Aug,4,Thursday,31,21:00,1257,19.5,19.5,62.0,19.5,2.0,0.0,0.0,1.0
13862,13862,2016-08-07 06:00:00,16-08-07,2016,Aug,7,Sunday,32,06:00,174,19.0,19.0,83.0,19.5,3.0,0.0,1.0,1.0
12449,12449,2016-06-08 14:00:00,16-06-08,2016,Jun,8,Wednesday,23,14:00,1167,22.0,22.0,73.0,4.0,7.0,0.0,0.0,1.0
13088,13088,2016-07-05 20:00:00,16-07-05,2016,Jul,5,Tuesday,27,20:00,1997,19.0,19.0,49.0,16.0,1.0,0.0,0.0,1.0
16438,16438,2016-11-24 08:00:00,16-11-24,2016,Nov,24,Thursday,47,08:00,4483,10.0,7.0,82.0,20.0,3.0,0.0,0.0,2.0
2639,2639,2015-04-24 07:00:00,15-04-24,2015,Apr,24,Friday,16,07:00,2175,9.5,8.0,79.0,9.0,1.0,0.0,0.0,0.0
5453,5453,2015-08-19 20:00:00,15-08-19,2015,Aug,19,Wednesday,33,20:00,1008,17.0,17.0,77.0,11.0,7.0,0.0,0.0,1.0
15030,15030,2016-09-26 14:00:00,16-09-26,2016,Sep,26,Monday,39,14:00,1305,18.0,18.0,56.0,19.0,2.0,0.0,0.0,2.0
11208,11208,2016-04-17 21:00:00,16-04-17,2016,Apr,17,Sunday,16,21:00,506,10.0,10.0,47.0,5.0,1.0,0.0,1.0,0.0
653,653,2015-01-31 06:00:00,15-01-31,2015,Jan,31,Saturday,4,06:00,62,2.0,-2.0,93.0,17.0,3.0,0.0,1.0,3.0
10264,10264,2016-03-08 21:00:00,16-03-08,2016,Mar,8,Tuesday,10,21:00,566,7.0,3.5,93.0,21.0,3.0,0.0,0.0,0.0
7339,7339,2015-11-07 03:00:00,15-11-07,2015,Nov,7,Saturday,44,03:00,216,15.0,15.0,88.0,15.0,2.0,0.0,1.0,2.0
15354,15354,2016-10-10 02:00:00,16-10-10,2016,Oct,10,Monday,41,02:00,62,9.0,8.0,87.0,6.0,1.0,0.0,0.0,2.0
3235,3235,2015-05-19 03:00:00,15-05-19,2015,May,19,Tuesday,20,03:00,46,9.0,5.5,73.5,28.0,1.0,0.0,0.0,0.0
13612,13612,2016-07-27 16:00:00,16-07-27,2016,Jul,27,Wednesday,30,16:00,2308,23.5,23.5,59.0,19.5,2.0,0.0,0.0,1.0
14648,14648,2016-09-10 16:00:00,16-09-10,2016,Sep,10,Saturday,36,16:00,979,19.5,19.5,85.5,18.0,7.0,0.0,1.0,2.0
8933,8933,2016-01-13 02:00:00,16-01-13,2016,Jan,13,Wednesday,2,02:00,40,6.0,1.5,76.0,28.0,3.0,0.0,0.0,3.0
13515,13515,2016-07-23 15:00:00,16-07-23,2016,Jul,23,Saturday,29,15:00,3407,26.0,26.0,51.0,15.0,1.0,0.0,1.0,1.0
9736,9736,2016-02-15 20:00:00,16-02-15,2016,Feb,15,Monday,7,20:00,752,4.0,1.5,81.0,10.0,2.0,0.0,0.0,3.0
591,591,2015-01-28 16:00:00,15-01-28,2015,Jan,28,Wednesday,4,16:00,1269,6.0,1.0,53.0,34.0,2.0,0.0,0.0,3.0
361,361,2015-01-19 02:00:00,15-01-19,2015,Jan,19,Monday,3,02:00,30,1.0,0.0,93.0,5.5,2.0,0.0,0.0,3.0
9456,9456,2016-02-03 21:00:00,16-02-03,2016,Feb,3,Wednesday,5,21:00,633,6.0,3.0,71.0,17.0,1.0,0.0,0.0,3.0
5343,5343,2015-08-15 06:00:00,15-08-15,2015,Aug,15,Saturday,32,06:00,143,15.0,15.0,88.0,12.0,3.0,0.0,1.0,1.0
9345,9345,2016-01-30 06:00:00,16-01-30,2016,Jan,30,Saturday,4,06:00,72,9.0,5.5,76.0,28.5,7.0,0.0,1.0,3.0
9472,9472,2016-02-04 13:00:00,16-02-04,2016,Feb,4,Thursday,5,13:00,1024,13.5,13.5,69.5,27.0,3.0,0.0,0.0,3.0
1409,1409,2015-03-03 19:00:00,15-03-03,2015,Mar,3,Tuesday,9,19:00,1496,6.5,2.5,55.0,25.0,1.0,0.0,0.0,0.0
365,365,2015-01-19 06:00:00,15-01-19,2015,Jan,19,Monday,3,06:00,472,1.0,-1.0,90.0,7.0,3.0,0.0,0.0,3.0
2810,2810,2015-05-01 10:00:00,15-05-01,2015,May,1,Friday,17,10:00,1124,10.0,7.0,60.0,25.0,2.0,0.0,0.0,0.0
13571,13571,2016-07-25 23:00:00,16-07-25,2016,Jul,25,Monday,30,23:00,516,20.0,20.0,60.0,20.5,4.0,0.0,0.0,1.0
3197,3197,2015-05-17 13:00:00,15-05-17,2015,May,17,Sunday,20,13:00,3122,16.0,16.0,45.0,23.0,2.0,0.0,1.0,0.0
35,35,2015-01-05 11:00:00,15-01-05,2015,Jan,5,Monday,1,11:00,584,9.0,7.5,90.5,10.0,3.0,0.0,0.0,3.0
14760,14760,2016-09-15 08:00:00,16-09-15,2016,Sep,15,Thursday,37,08:00,5295,20.5,20.5,75.5,5.5,1.0,0.0,0.0,2.0
7959,7959,2015-12-03 08:00:00,15-12-03,2015,Dec,3,Thursday,48,08:00,4369,13.0,13.0,77.0,15.0,2.0,0.0,0.0,3.0
1569,1569,2015-03-10 11:00:00,15-03-10,2015,Mar,10,Tuesday,10,11:00,903,10.0,8.5,58.0,9.0,1.0,0.0,0.0,0.0
8086,8086,2015-12-08 15:00:00,15-12-08,2015,Dec,8,Tuesday,49,15:00,991,12.0,12.0,67.5,25.0,7.0,0.0,0.0,3.0
10161,10161,2016-03-04 14:00:00,16-03-04,2016,Mar,4,Friday,9,14:00,1055,8.5,5.5,49.5,19.5,2.0,0.0,0.0,0.0
8950,8950,2016-01-13 19:00:00,16-01-13,2016,Jan,13,Wednesday,2,19:00,1523,6.0,3.0,76.0,16.0,1.0,0.0,0.0,3.0
4371,4371,2015-07-05 14:00:00,15-07-05,2015,Jul,5,Sunday,27,14:00,2550,21.5,21.5,55.0,12.0,2.0,0.0,1.0,1.0
16832,16832,2016-12-10 18:00:00,16-12-10,2016,Dec,10,Saturday,49,18:00,594,12.5,12.5,91.0,18.5,7.0,0.0,1.0,3.0
13800,13800,2016-08-04 15:00:00,16-08-04,2016,Aug,4,Thursday,31,15:00,1845,22.0,22.0,50.0,26.0,1.0,0.0,0.0,1.0
7646,7646,2015-11-20 06:00:00,15-11-20,2015,Nov,20,Friday,46,06:00,568,10.0,8.0,64.5,19.0,2.0,0.0,0.0,2.0

In [17]:
df['weather_code']

0        3.0
1        1.0
2        1.0
3        1.0
4        1.0
        ...
17409    3.0
17410    4.0
17411    4.0
17412    4.0
17413    2.0
Name: weather_code, Length: 17414, dtype: float64

In [27]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17414 entries, 0 to 17413
Data columns (total 18 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   index              17414 non-null  int64
 1   timestamp          17414 non-null  object
 2   date               17414 non-null  object
 3   year               17414 non-null  int64
 4   month              17414 non-null  object
 5   day                17414 non-null  int64
 6   day_name           17414 non-null  object
 7   week_number        17414 non-null  int64
 8   time               17414 non-null  object
 9   bike_number        17414 non-null  int64
 10  temperature        17414 non-null  float64
 11  temperature_feels  17414 non-null  float64
 12  hum                17414 non-null  float64
 13  wind_speed         17414 non-null  float64
 14  weather_code       17414 non-null  object
 15  is_holiday         17414 non-null  float64
 16  is_weekend         17414 non-null  float64
 17  season             17414 non-null  float64
dtypes: float64(7), int64(5), object(6)
memory usage: 2.4+ MB

In [37]:
df['date']=pd.to_datetime(df['date'], format="%Y/%m/%d")

In [48]:
df['date']

0       2004-01-15
1       2004-01-15
2       2004-01-15
3       2004-01-15
4       2004-01-15
           ...
17409   2003-01-17
17410   2003-01-17
17411   2003-01-17
17412   2003-01-17
17413   2003-01-17
Name: date, Length: 17414, dtype: datetime64[ns]

### Weather Code

- 1 = Clear ; mostly clear but have some values with haze/fog/patches of fog/ fog in vicinity
- 2 = scattered clouds / few clouds
- 3 = Broken clouds
- 4 = Cloudy
- 7 = Rain/ light Rain shower/ Light rain
- 10 = rain with thunderstorm
- 26 = snowfall
- 94 = Freezing Fog

In [18]:
dct1={1.0 : 'Clear',2.0 : 'Few clouds',3.0 : 'Broken clouds',4.0 : 'Cloudy',7.0 : 'Light rain',10.0 : 'Rain & Thunderstorm',26.0 : 'Snowfall',94.0 : 'Freezing Fog'}

In [19]:
dct1

{1.0: 'Clear',
 2.0: 'Few clouds',
 3.0: 'Broken clouds',
 4.0: 'Cloudy',
 7.0: 'Light rain',
 10.0: 'Rain & Thunderstorm',
 26.0: 'Snowfall',
 94.0: 'Freezing Fog'}

In [21]:
df['weather_code']=df['weather_code'].map(dct1)

In [39]:
df.shape

(17414, 18)

In [38]:
df.to_csv('london_merged_v2.csv', index=False)

In [26]:
os.getcwd()

'C:\\Users\\Danie'

In [54]:
df=pd.read_csv(r'D:\IronHack\Projet-Semaine-5-6\london_bike_sharing\london_merged_v3.csv')
df.head(1)

,index,timestamp,date,year,month,day,day_name,week_number,time,bike_number,temperature,temperature_feels,hum,wind_speed,weather_code,weather_code_n,is_holiday,is_weekend,season
0,0,2015-01-04 00:00:00,04-01-2015,2015,Jan,4,Sunday,1,00:00,182,3.0,2.0,93.0,6.0,Broken clouds,3,0.0,1.0,3.0

### Plots

In [55]:
df.temperature.describe()

count    17414.000000
mean        12.468091
std          5.571818
min         -1.500000
25%          8.000000
50%         12.500000
75%         16.000000
max         34.000000
Name: temperature, dtype: float64

In [56]:
df.temperature_feels.describe()

count    17414.000000
mean        11.520836
std          6.615145
min         -6.000000
25%          6.000000
50%         12.500000
75%         16.000000
max         34.000000
Name: temperature_feels, dtype: float64

In [57]:
df.hum.describe()

count    17414.000000
mean        72.324954
std         14.313186
min         20.500000
25%         63.000000
50%         74.500000
75%         83.000000
max        100.000000
Name: hum, dtype: float64

In [58]:
df.wind_speed.describe()

count    17414.000000
mean        15.913063
std          7.894570
min          0.000000
25%         10.000000
50%         15.000000
75%         20.500000
max         56.500000
Name: wind_speed, dtype: float64